# This can be copied to ~/.gitconfig for some common git settings and aliases
[user]
    email = gpappu@easypost.com
    name = Gautam Pappu

[apply]
    whitespace=fix

[color]
    ui = auto
    status=auto
    diff=auto
    showBranch=auto
    interactive=auto
    grep=auto

[color "status"]
    header = black bold
    branch = cyan
    nobranch=red
    unmerged=red
    untracked=magenta
    added=green
    changed = yellow bold

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = magenta
    frag = black bold

[color "diff"]
    branch = green bold
    remoteBranch = magenta bold
    tag = magenta bold
    stash = cyan
    HEAD = cyan bold

[pull]
    rebase = true

[apply]
	  whitespace = fix

[push]
    default = matching
    followTags=True

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[log]
    excludeDecoration = refs/tags/phabricator/*
    decorate = short

[merge]
    log = true
