# This can be copied to ~/.gitconfig for some common git settings and aliases
[user]
    email = gpappu@easypost.com
    name = Gautam Pappu

[pull]
    rebase = true

[apply]
	  whitespace = fix

[push]
    default = simple

[color]
    ui = true
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
	added = green bold
	changed = yellow
	untracked = cyan

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[log]
    excludeDecoration = refs/tags/phabricator/*
    decorate = short

[merge]
    log = true

