[user]
	email = gpappu@easypost.com
	name = Gautam
[core]
	editor = vim
[push]
	default = current
[pull]
	rebase = true
[rebase]
	autoStash = true
[pager]
	branch = false
	diff = less
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[submodule]
	recurse = true
